<center><h3>User_profile</h3>
 <div class="span10">
<div class="signup">

	<table>



<tr>
	<td><%= label_tag 'FirstName' %></td>
    <td><%= member[0].firstname %></td>
</tr>

 <tr>
 	<td><%= label_tag 'LastName' %></td>
    <td><%= member[0].lastname %></td>
</tr>



<tr>
	<td><%= label_tag 'Emailid' %></td>
    <td><%= member[0].emailid %></td>
</tr>

<tr>
	<td><%= label_tag 'PhoneNumber' %></td>
    <td><%= member[0].phonenumber %></td>
</tr>

 <tr>
    <td><%= label_tag 'gender' %></td>
    <td><%= member[0].gender %></td>
</tr>

<tr>
    <td><%= label_tag 'Qualification' %></td>
    <td><%= member[0].qualification %></td>
</tr>




<tr>
    <td><%= label_tag 'address' %></td>
    <td><%= member[0].address %></td>
</tr>
<tr>
    <td><%= label_tag 'Married' %></td>
    <td><%= member[0].married %></td>
</tr>


</table>
</div></div>


</center>

        