<center><h1>Login_Form</h1></center>

<% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:error] %></strong>
    </div>
<% end %>
<% if flash[:error3] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:error3] %></strong>
    </div>
<% end %>
<% if !flash[:success].nil? %>
 <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:success] %></strong>
    </div>
<% end %>

<div class="span10">
	<div class="well">
		<%= form_tag(:action=> "verify", :method=> "post") do %>
	         <table>
	         	<tbody>
	                <tr><td>Email_id</td><td><%= text_field_tag(:emailid) %></td></tr>
                    <tr> <td>Password</td><td><%= password_field_tag 'password'%></td></tr>
                    <tr><td></td><td align="center"><%= submit_tag("Login", :class => "btn")%></td></tr>
                </tbody>
             </table>
         <%end%>
     </div>
 </div>
