<!DOCTYPE html>
<html>
<head>
  <title>NillView</title>

  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'allviews/header' %>
<h1>All Users</h1>

<table border='1'>
  <thead>
    <tr>
      <th>id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>password</th>
      <th>emailid</th>
      <th>phonenumber</th>
      <th>gender</th>
      <th>qualification</th>
      <th>language</th>
      <th>address</th>
      <th>married</th>
    </tr>
  </thead>

  <tbody>
   <%= render partial: "allviews/allusersdata", collection: @users, :as => :member %>
  </tbody>
</table>
<hr>
<center>
<%=  link_to '<button type="button">LogOut</button>'.html_safe,  '/home/index' %>
</center>


</body>
</html>

