<tr>
	<td><%= member.id %></td>
        <td><%= member.firstname %></td>
        <td><%= member.lastname %></td>
        <td><%= member.password %></td>
        <td><%= member.emailid %></td>
        <td><%= member.phonenumber %></td>
        <td><%= member.gender %></td>
        <td><%= member.qualification %></td>
        <td><%= member.language%></td>
        <td><%= member.address %></td>
        <td><%= member.married %></td>
        
      </tr>